{% extends "layout.html" %}

{% block body %}
<h1>Transactions</h1>
<table>
    <tr>
        <th>Transaction ID</th>
        <th>Amount (EUR)</th>
        <th>Counterparty Name</th>
        <th>Credit or debit</th>
        <th>Message</th>
    </tr>
    {% for transaction in transactions %}
    <tr>
        <td>{{ transaction.id }}</td>
        <td>{{ transaction.amount }}</td>
        <td>{{ transaction.counterparty_name }}</td>
        <td>{{ transaction.credit_or_debit }}</td>
        <td>{{ transaction.message }}</td>
    </tr>
    {% endfor %}
</table>


{% endblock %}