{% extends "layout.html" %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <h1 style="margin-top: 20px">Transaction {{transaction.id}}</h1>

        <table class="table">
            <tr>
              <td>Booking Date (EUR)</td>
              <td>{{transaction.booking_date}}</td>    
            </tr>
          <tr>
            <td>Amount (EUR)</td>
            <td>{{transaction.amount}}</td>    
          </tr>
          <tr>
            <td>Credit or debit</td>
            <td>{{transaction.credit_or_debit}}</td>    
          </tr>
          <tr>
              <td>Counterparty</td>
              <td>{{transaction.counterparty_name}}</td>
          </tr>
          <tr>
              <td>Message</td>
              <td>{{transaction.message}}</td>
          </tr>
          <tr>
              <td>Bank account ID</td>
              <td>{{transaction.bankaccount_id}}</td>
          </tr>
          <tr>
              <td>Category</td>
              <td>{{transaction.category_name}}</td>
          </tr>
        </table>
        <h5>Change message</h5>
        <form method="POST" action="{{ url_for('modify_transaction', transaction_id=transaction.id) }}" >
          <div class="form-group">
            <label for="message">Set new message or reference</label>
            <input name="message" id="message" class="form-control col-md-6" type="text" placeholder="Transaction message"/>
            <input type="submit" class="btn btn-secondary" value="Submit"/>
          </form>
        </div>
        <div style="margin-top: 30px">
          <form method="POST" action="{{ url_for('delete_transaction', transaction_id=transaction.id) }}" >
              <button type="submit" class="btn btn-danger">Delete this transaction</button>
          </form>
      </div>
    </div>      
</div>

{% endblock %}
