{% extends "layout.html"%}

{% block body %}
{{ error }}

<form method="POST" action="{{ url_for('create_user') }}">
    <table>
        <tr>
            <td>{{ form.displayname.label(class_="form-control") }}</td>
            <td>{{ form.displayname(class_="form-control") }}</td>
        </tr>
        <tr>
            <td>{{ form.username.label(class_="form-control") }}</td>
            <td>{{ form.username(class_="form-control") }}</td>
        </tr>
        <tr>
            <td>{{ form.password.label(class_="form-control") }}</td>
            <td>{{ form.password(class_="form-control") }}</td>
        </tr>
        <tr>
            <td>{{ form.pwdvalidation.label(class_="form-control") }}</td>
            <td>{{ form.pwdvalidation(class_="form-control") }}</td>
        </tr>
        <tr>
            <td colspan="2">
                <input class="form-control" type="submit" value="Create user" />
            </td>
        </tr>
    </table>
</form>
{% endblock %}