{% extends "layout.html" %}

{% block body %}



<h1>Accounts</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Bank</th>
        <th>Initial Balance</th>
        <th>Current Balance</th>
    </tr>
    {% for account in accounts %}
    <tr>
        <td>
            <a href="{{ url_for('get_bankaccount', bankaccount_id=account.id) }}">
                {{ account.id }}
            </a>
        </td>
        <td>{{ account.name }}</td>
        <td>{{ account.bank }}</td>
        <td>{{ account.initial_balance }}</td>
        <td>{{ account.current_balance }}</td>
        <td>
            <form method="POST" action="{{ url_for('delete_bankaccount', bankaccount_id=account.id) }}">
            <button type="submit">Delete this account</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>

<h2>Create new Bank account</h2>
{{ error }}
<form method="POST" action="{{ url_for('bankaccounts') }}">
    <table>
        <tr>
            <td>{{ form.name.label }}</td>
            <td>{{ form.name }}</td>
        </tr>
        <tr>
            <td>{{ form.bank.label }}</td>
            <td>{{ form.bank }}</td>
        </tr>
        <tr>
            <td>{{ form.balance.label }}</td>
            <td>{{ form.balance }}</td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Create bank account" />
            </td>
        </tr>
    </table>
</form>

{% endblock %}