{% extends "layout.html" %}

{% block body %}

<h1>Categories</h1>
<p style="color: red">{{error}}</p>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th>Category name</th>
            <th>Action</th>
        </tr>
    </thead>


    {% for category in categories %}
    <tr>
        <td><a href="{{ url_for('category', category_id = category.id) }}">{{ category.name }}</a></td>
        <td>
            {% if category.name != "No Category" %}
            <form method="POST" action="{{ url_for('delete_category', category_id=category.id) }}">
                <button type="submit">Remove category</button>
            </form>

            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

    <h3>Add a category</h3>
    <form method="POST" action="{{ url_for('categories', error='') }}" >
        <tr class="form-group">
            <td>{{ form.name.label(class_="form-control") }}</td>
            <td>{{ form.name(class_="form-control") }}</td>
            <td><button class="form-control" type="submit">Add category</button></td>
            <td>
                <ul>
                    {% for error in form.name.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    </form>


{% endblock %}