{% extends "layout.html" %}

{% block body %}

<h1>Categories</h1>
<p style="color: red">{{error}}</p>
<table>


    {% for category in categories %}
    <tr>
        <td>{{ category.name }}</td>
        <td>
            <form method="POST" action="{{ url_for('delete_category', category_id=category.id) }}">
                <button type="submit">Remove category</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>

    <h3>Add a category</h3>
    <form method="POST" action="{{ url_for('categories', error='') }}" >
        <tr class="form-group">
            <td>{{ form.name.label(class_="form-control") }}</td>
            <td>{{ form.name(class_="form-control") }}</td>
            <td><button class="form-control" type="submit">Add category</button></td>
            <td>
                <ul>
                    {% for error in form.name.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    </form>


{% endblock %}